ENV=UAT
BROWSER=chrome
BROWSER_HEADLESS=false
BROWSER_TIMEOUT=30000
EFMS_BASE_URL=https://uat-efms.logtechub.com/en/#/home
ETMS_BASE_URL=https://staging-itllog-etms.logtechub.com/en/#/app/default/home
ACCOUNT_USERNAME=henry.hieu
ACCOUNT_PASSWORD=
API_BASE_URL=https://uat-efms.logtechub.com
DB_URL=
DB_USERNAME=
DB_PASSWORD=
